services:
  db:
    container_name: postgres
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: laboratorio01_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: laboratorio-01-app
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_DIALECT=postgres
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env